.nav {
  margin: 2rem 0;
}

.nav-link {
  padding-left: 0;
  color: #64748b;
  display: flex;
  align-items: center;
}

.nav-text {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.nav-indicator {
  display: inline-flex;
  background-color: #475569;
  width: 2rem;
  height: 1.5px;
  margin-right: 1rem;
  line-height: 1rem;
  align-items: center;
}

a.nav-link.active,
.nav-link:hover {
  color: #e2e8f0 !important;

  .nav-indicator {
    background-color: #e2e8f0;
    width: 4rem;
  }
}

.hidden {
  @media only screen and (max-width: 991.98px) {
    display: none;
  }
}
